@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    .LandingLineHeadding{
     text-align: center;
font-family: Manrope;
font-size: 3rem;
font-style: normal;
font-weight: 800;
line-height: 125.025%; /* 295.737px */
background: linear-gradient(170deg, #E31E24 27.67%, #262065 53.76%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

p{
    text-align: center;
font-family: Manrope;
font-size: 3rem;
font-style: normal;
font-weight: 800;
line-height: 125.025%; /* 295.737px */
background: black;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
    }

    .LandingLineSubHeadding{
        color: #3E3E3E;
        text-align: center;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }