.Testimonials {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  margin: 40px 0 40px 0;
  margin-top: 100px;
}

.HeadingSection {
  width: 400px !important;
  align-self: center;
}

.TestiCardsWrapper {
  display: flex;
  align-items: center; /* Vertically center buttons with the cards */
  justify-content: center;
  position: relative; /* Required for absolute positioning of buttons */
  width: 100%;
}

.TestiCards {
  width: 100vw;
  overflow-x: scroll;
  padding: 0 40px 0 40px;
  display: flex;
  gap: 30px;
}

.TestiCards::-webkit-scrollbar {
  display: none;
}

/* Scroll button styles */
.ScrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;

  img {
    width: 40px;
    height: 40px;
  }
}
.Left {
  left: 10px;
}
.Right {
  right: 10px;
}
