.container {
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1440px;
}
.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.LandingLineHeadding {
  margin-top: 12vh;
  text-align: center;
  font-family: Manrope;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 125.025%; /* 295.737px */
  background: linear-gradient(170deg, #e31e24 27.67%, #262065 53.76%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

    p {
      text-align: center;
      font-family: Manrope;
      font-size: 3rem;
      font-style: normal;
      font-weight: 800;
      line-height: 125.025%; /* 295.737px */
      background: black;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}

.LandingLineSubHeadding {
  color: #3e3e3e;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.GradientButton {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 12%;
  border-radius: 432.968px;
  border: 1px solid #0c0c0c;
  transition: all 0.3s ease-in-out; /* Ensures smooth transition in and out */

  p {
    color: #0c0c0c;
    font-family: Poppins;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
  }
}

.GradientButton:hover {
  border: transparent;
  background: var(
    --brand,
    linear-gradient(100deg, #e31e24 7.47%, #262065 92.53%)
  );
  transition: all 0.3s ease-in-out; /* Ensures smooth transition in and out */

  p {
    color: #fff;
    transition: color 0.3s ease-in-out; /* Smooth text color transition */
  }
}

.landingEnding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingBanner {
  position: relative;
  z-index: 2;
}
.bannerPodium {
  width: 60%;
  height: 25vh;
  flex-shrink: 0;
  border-radius: 60%;
  background: linear-gradient(180deg, #898989 -76.06%, #fafafa 51.66%);
  position: relative;
  top: -70px;
  z-index: 0;
}
