.contactNav{
display: flex;
width: 100%;
padding: 14px 41px;
flex-direction: row;
justify-content: end;
gap: 2rem;
background: linear-gradient(172deg, #E31E24 23.04%, #262065 95.09%);    color:white;
color: #FFF;
font-family: Poppins;
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: normal;        

    
}